@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Yuyu+Short&display=swap');

body {
  font-family: Bebas Neue;
}

.ammo{
    color: white;
}

p {
    color: white;
}

.pointer{
  display: flex;
}


.pointer img{
  width: 360px;
  height: auto;
}

.fire {
  width : 90;
  height: auto;
  rotate: calc(-90deg);
}

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}


.spin{
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.reload{
   animation: bounceDown 0.5s ease;
}

@keyframes bounceDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.btn-section {
  display: flex;
  justify-content: space-between;
}

/*FONT*/
.btn-section button {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  border-width: 1px;
}
/*FONT*/

/*FONT*/
.timer{
  margin-top: 5px;
  color: white;
}
/*TIMER*/


/*EXTERNAL*/
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #00092e;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 19;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #e2e600;
    top: 46%;
    left: 17%;
    animation-duration: 23s;
    animation-delay: -9s;
    transform-origin: 24vw 0vh;
    box-shadow: 2vmin 0 1.1861762465856378vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 84%;
    left: 64%;
    animation-duration: 20s;
    animation-delay: -211s;
    transform-origin: -8vw 3vh;
    box-shadow: -2vmin 0 1.0708704677535308vmin currentColor;
}
.background span:nth-child(2) {
    color: #eceaea;
    top: 7%;
    left: 78%;
    animation-duration: 165s;
    animation-delay: -137s;
    transform-origin: 13vw 16vh;
    box-shadow: 2vmin 0 0.494528869075479vmin currentColor;
}
.background span:nth-child(3) {
    color: #e2e600;
    top: 45%;
    left: 27%;
    animation-duration: 125s;
    animation-delay: -288s;
    transform-origin: -24vw 11vh;
    box-shadow: 2vmin 0 1.0540189511964195vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 93%;
    left: 67%;
    animation-duration: 133s;
    animation-delay: -299s;
    transform-origin: -9vw -3vh;
    box-shadow: -2vmin 0 0.5813664476138163vmin currentColor;
}
.background span:nth-child(5) {
    color: #e2e600;
    top: 11%;
    left: 93%;
    animation-duration: 67s;
    animation-delay: -214s;
    transform-origin: 16vw 4vh;
    box-shadow: -2vmin 0 0.7226731627428497vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 11%;
    left: 89%;
    animation-duration: 210s;
    animation-delay: -276s;
    transform-origin: 23vw 23vh;
    box-shadow: 2vmin 0 0.972136347012559vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 12%;
    left: 26%;
    animation-duration: 232s;
    animation-delay: -199s;
    transform-origin: -1vw -19vh;
    box-shadow: -2vmin 0 0.4789842827367742vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 16%;
    left: 91%;
    animation-duration: 53s;
    animation-delay: -112s;
    transform-origin: -24vw 21vh;
    box-shadow: 2vmin 0 0.33549786580882324vmin currentColor;
}
.background span:nth-child(9) {
    color: #eceaea;
    top: 67%;
    left: 70%;
    animation-duration: 99s;
    animation-delay: -109s;
    transform-origin: 7vw 14vh;
    box-shadow: 2vmin 0 0.6066213161132151vmin currentColor;
}
.background span:nth-child(10) {
    color: #eceaea;
    top: 74%;
    left: 42%;
    animation-duration: 75s;
    animation-delay: -190s;
    transform-origin: 8vw 8vh;
    box-shadow: 2vmin 0 0.57767997122465vmin currentColor;
}
.background span:nth-child(11) {
    color: #e2e600;
    top: 53%;
    left: 85%;
    animation-duration: 305s;
    animation-delay: -213s;
    transform-origin: -3vw 21vh;
    box-shadow: 2vmin 0 1.1204187479928986vmin currentColor;
}
.background span:nth-child(12) {
    color: #e2e600;
    top: 69%;
    left: 67%;
    animation-duration: 154s;
    animation-delay: -16s;
    transform-origin: -4vw -20vh;
    box-shadow: 2vmin 0 0.5369490443583075vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 75%;
    left: 43%;
    animation-duration: 35s;
    animation-delay: -254s;
    transform-origin: 22vw 13vh;
    box-shadow: -2vmin 0 0.4477370575423958vmin currentColor;
}
.background span:nth-child(14) {
    color: #eceaea;
    top: 53%;
    left: 61%;
    animation-duration: 24s;
    animation-delay: -268s;
    transform-origin: -9vw 23vh;
    box-shadow: 2vmin 0 0.3832108276265149vmin currentColor;
}
.background span:nth-child(15) {
    color: #e2e600;
    top: 63%;
    left: 5%;
    animation-duration: 53s;
    animation-delay: -303s;
    transform-origin: 20vw 24vh;
    box-shadow: 2vmin 0 0.9774372359250685vmin currentColor;
}
.background span:nth-child(16) {
    color: #eceaea;
    top: 100%;
    left: 95%;
    animation-duration: 84s;
    animation-delay: -64s;
    transform-origin: 7vw 6vh;
    box-shadow: -2vmin 0 0.8953043025897112vmin currentColor;
}
.background span:nth-child(17) {
    color: #e2e600;
    top: 39%;
    left: 70%;
    animation-duration: 138s;
    animation-delay: -298s;
    transform-origin: 17vw 8vh;
    box-shadow: -2vmin 0 1.0302744710497276vmin currentColor;
}
.background span:nth-child(18) {
    color: #e2e600;
    top: 76%;
    left: 20%;
    animation-duration: 56s;
    animation-delay: -154s;
    transform-origin: 22vw -11vh;
    box-shadow: -2vmin 0 0.34211280292128476vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffffff;
    top: 31%;
    left: 10%;
    animation-duration: 283s;
    animation-delay: -42s;
    transform-origin: 0vw -5vh;
    box-shadow: 2vmin 0 0.28698140871149447vmin currentColor;
}
.background span:nth-child(20) {
    color: #e2e600;
    top: 80%;
    left: 77%;
    animation-duration: 276s;
    animation-delay: -139s;
    transform-origin: 6vw 19vh;
    box-shadow: -2vmin 0 0.7728999357341791vmin currentColor;
}
.background span:nth-child(21) {
    color: #e2e600;
    top: 61%;
    left: 55%;
    animation-duration: 242s;
    animation-delay: -95s;
    transform-origin: 13vw -12vh;
    box-shadow: 2vmin 0 0.8187825636710543vmin currentColor;
}
.background span:nth-child(22) {
    color: #eceaea;
    top: 45%;
    left: 95%;
    animation-duration: 276s;
    animation-delay: -63s;
    transform-origin: -12vw -20vh;
    box-shadow: 2vmin 0 0.6097133840293266vmin currentColor;
}
.background span:nth-child(23) {
    color: #ffffff;
    top: 66%;
    left: 22%;
    animation-duration: 174s;
    animation-delay: -193s;
    transform-origin: 9vw -24vh;
    box-shadow: 2vmin 0 0.8929426916489418vmin currentColor;
}
.background span:nth-child(24) {
    color: #ffffff;
    top: 34%;
    left: 50%;
    animation-duration: 127s;
    animation-delay: -79s;
    transform-origin: -22vw 8vh;
    box-shadow: 2vmin 0 0.2925063486837346vmin currentColor;
}
.background span:nth-child(25) {
    color: #eceaea;
    top: 21%;
    left: 63%;
    animation-duration: 292s;
    animation-delay: -139s;
    transform-origin: -20vw -21vh;
    box-shadow: 2vmin 0 0.7024885776140407vmin currentColor;
}
.background span:nth-child(26) {
    color: #ffffff;
    top: 24%;
    left: 4%;
    animation-duration: 294s;
    animation-delay: -69s;
    transform-origin: -2vw -2vh;
    box-shadow: -2vmin 0 0.43938081378979243vmin currentColor;
}
.background span:nth-child(27) {
    color: #e2e600;
    top: 78%;
    left: 18%;
    animation-duration: 14s;
    animation-delay: -290s;
    transform-origin: -21vw 16vh;
    box-shadow: -2vmin 0 0.6272473837485185vmin currentColor;
}
.background span:nth-child(28) {
    color: #eceaea;
    top: 52%;
    left: 54%;
    animation-duration: 29s;
    animation-delay: -66s;
    transform-origin: 8vw 1vh;
    box-shadow: 2vmin 0 0.32577068500684514vmin currentColor;
}
.background span:nth-child(29) {
    color: #ffffff;
    top: 38%;
    left: 85%;
    animation-duration: 306s;
    animation-delay: -91s;
    transform-origin: 1vw 18vh;
    box-shadow: 2vmin 0 0.9373046222587346vmin currentColor;
}
.background span:nth-child(30) {
    color: #e2e600;
    top: 26%;
    left: 50%;
    animation-duration: 108s;
    animation-delay: -242s;
    transform-origin: 7vw -10vh;
    box-shadow: 2vmin 0 1.1617147069723401vmin currentColor;
}
.background span:nth-child(31) {
    color: #e2e600;
    top: 48%;
    left: 75%;
    animation-duration: 151s;
    animation-delay: -60s;
    transform-origin: -1vw 5vh;
    box-shadow: -2vmin 0 1.013861743865602vmin currentColor;
}
.background span:nth-child(32) {
    color: #e2e600;
    top: 45%;
    left: 71%;
    animation-duration: 17s;
    animation-delay: -25s;
    transform-origin: 17vw -19vh;
    box-shadow: 2vmin 0 0.7757355212398235vmin currentColor;
}
.background span:nth-child(33) {
    color: #e2e600;
    top: 39%;
    left: 7%;
    animation-duration: 25s;
    animation-delay: -106s;
    transform-origin: 20vw -20vh;
    box-shadow: 2vmin 0 1.0950337978611493vmin currentColor;
}
.background span:nth-child(34) {
    color: #e2e600;
    top: 23%;
    left: 70%;
    animation-duration: 9s;
    animation-delay: -242s;
    transform-origin: -22vw -18vh;
    box-shadow: 2vmin 0 0.9223873370002504vmin currentColor;
}
.background span:nth-child(35) {
    color: #ffffff;
    top: 14%;
    left: 61%;
    animation-duration: 143s;
    animation-delay: -152s;
    transform-origin: -10vw 2vh;
    box-shadow: -2vmin 0 0.8001929817151783vmin currentColor;
}
.background span:nth-child(36) {
    color: #ffffff;
    top: 80%;
    left: 40%;
    animation-duration: 235s;
    animation-delay: -193s;
    transform-origin: 23vw 23vh;
    box-shadow: -2vmin 0 0.6584757557499786vmin currentColor;
}
.background span:nth-child(37) {
    color: #eceaea;
    top: 75%;
    left: 88%;
    animation-duration: 170s;
    animation-delay: -149s;
    transform-origin: 11vw 13vh;
    box-shadow: -2vmin 0 0.47058758075173024vmin currentColor;
}
.background span:nth-child(38) {
    color: #e2e600;
    top: 75%;
    left: 31%;
    animation-duration: 259s;
    animation-delay: -64s;
    transform-origin: -2vw -21vh;
    box-shadow: -2vmin 0 0.9290064985414387vmin currentColor;
}
.background span:nth-child(39) {
    color: #ffffff;
    top: 68%;
    left: 26%;
    animation-duration: 284s;
    animation-delay: -283s;
    transform-origin: -1vw 23vh;
    box-shadow: 2vmin 0 0.7686060045947332vmin currentColor;
}
.background span:nth-child(40) {
    color: #eceaea;
    top: 91%;
    left: 9%;
    animation-duration: 58s;
    animation-delay: -33s;
    transform-origin: -16vw -21vh;
    box-shadow: 2vmin 0 0.7948930432009056vmin currentColor;
}
.background span:nth-child(41) {
    color: #eceaea;
    top: 10%;
    left: 73%;
    animation-duration: 314s;
    animation-delay: -133s;
    transform-origin: 15vw 2vh;
    box-shadow: 2vmin 0 0.6642196485738953vmin currentColor;
}
.background span:nth-child(42) {
    color: #ffffff;
    top: 45%;
    left: 28%;
    animation-duration: 297s;
    animation-delay: -147s;
    transform-origin: -5vw -4vh;
    box-shadow: 2vmin 0 0.45887372473622123vmin currentColor;
}
.background span:nth-child(43) {
    color: #eceaea;
    top: 49%;
    left: 50%;
    animation-duration: 160s;
    animation-delay: -282s;
    transform-origin: 10vw -5vh;
    box-shadow: 2vmin 0 0.7606906564906449vmin currentColor;
}
.background span:nth-child(44) {
    color: #eceaea;
    top: 26%;
    left: 15%;
    animation-duration: 219s;
    animation-delay: -294s;
    transform-origin: 23vw -1vh;
    box-shadow: 2vmin 0 0.6526684892159897vmin currentColor;
}
.background span:nth-child(45) {
    color: #ffffff;
    top: 80%;
    left: 20%;
    animation-duration: 75s;
    animation-delay: -284s;
    transform-origin: 1vw -21vh;
    box-shadow: -2vmin 0 0.604284313089524vmin currentColor;
}
.background span:nth-child(46) {
    color: #ffffff;
    top: 27%;
    left: 66%;
    animation-duration: 36s;
    animation-delay: -108s;
    transform-origin: 5vw 0vh;
    box-shadow: -2vmin 0 0.8516774269605635vmin currentColor;
}
.background span:nth-child(47) {
    color: #ffffff;
    top: 63%;
    left: 92%;
    animation-duration: 272s;
    animation-delay: -125s;
    transform-origin: 19vw 17vh;
    box-shadow: 2vmin 0 0.5888687199207762vmin currentColor;
}
.background span:nth-child(48) {
    color: #eceaea;
    top: 36%;
    left: 2%;
    animation-duration: 180s;
    animation-delay: -302s;
    transform-origin: -21vw 10vh;
    box-shadow: 2vmin 0 0.8430602301150597vmin currentColor;
}
.background span:nth-child(49) {
    color: #e2e600;
    top: 91%;
    left: 66%;
    animation-duration: 294s;
    animation-delay: -135s;
    transform-origin: 15vw 10vh;
    box-shadow: 2vmin 0 1.231373216644775vmin currentColor;
}

